syntax:glob
*.obj
*.exe
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.cso
*.sbr
*.iobj
Thumbs.db
FBX_SDK/
[Dd]ebug_Intermdiate*/
[Rr]elease_Intermdiate*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/
.vs/